body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 100px;
	height: 70px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
.postcard-header h1 {
	width: 330px;
}
.titulo01 {background-image: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);background-clip: text;-webkit-background-clip: text;color: transparent; margin-top: 40px; margin-left: 10px;
    font-family: europebold;
}


.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border-bottom: grey;
	border: none;
	border-bottom: 0cap;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: #dfdfdf;
	padding: 5px;
}
.name,
.email,
.comment {
	color: black;
	border: 1px solid black;
}


@font-face {
    font-family: "europebold";
    src: url(https://raw.githubusercontent.com/ekiafox/FUENTES_EKFX/main/EUROPA-GROTESC-EXTRA-BOLD.ttf
    );
}
